upstream centrifugo {
    # Enumerate all upstream servers here
    sticky;
    ip_hash;
    server ws:8000;
    #server ws:8001;
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {

#    listen 80;
#    listen [::]:80;

    # For https
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    ###### GENERATED CERTS AND KEYS #######
    ssl_certificate /var/www/docker-utilities/data/certbot/certs/cert1.pem;
    ssl_certificate_key /var/www/docker-utilities/data/certbot/certs/privkey1.pem;
    ssl_prefer_server_ciphers on;
    #####################################

    server_name next.docker-utilities.irabu.dev;
    root /var/www/docker-utilities/dist;
    # Default index page
    index index.html;

    # Default character set
    charset utf-8;

    # Turn off /var/log/nginx/access.log writes
    # access_log off;
    # log_not_found off;

    location / {
         try_files $uri $uri/ /index.html /index.php$is_args$args;
    }

    # Handle api calls
    location /api {
                # Debug output
                # return 200 $args; add_header Content-Type text/plain;

                # Root for this sub project
                root /var/www/docker-utilities/public;

                # Rewrite $uri=/api/v1/xyz back to just $uri=/xyz
                rewrite ^/api/(.*)$ /$1 break;

                # Try to send static file at $url or $uri/
                # Else try /index.php (which will hit location ~\.php$ below)
                try_files $uri $uri/ /index.php?$args;
    }

    # PHP
    location ~ \.php$ {
	set $newurl $request_uri;
        if ($newurl ~ ^/api(.*)$) {
                set $newurl $1;
                root /var/www/docker-utilities/public;
        }
        try_files $uri /index.html /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_buffers 256 16k;
        fastcgi_buffer_size 128k;
	    fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    # Centrifugo API
    location /centrifugo/ {
        rewrite ^/centrifugo/(.*)        /$1 break;
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass https://centrifugo;

        #proxy_ssl_session_reuse on;
        #proxy_ssl_trusted_certificate /etc/pki/tls/certs/ca-bundle.crt;
        #proxy_ssl_verify on;
        #proxy_ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNU$
    }

    # Centrifugo Websocket Connections
    location /centrifugo/connection {
        rewrite ^/centrifugo(.*)        $1 break;
        proxy_next_upstream error;
        gzip on;
        gzip_min_length 1000;
        gzip_proxied any;
        proxy_buffering off;
        keepalive_timeout 65;
        proxy_pass https://centrifugo;
        proxy_read_timeout 60s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }

    error_log /var/log/nginx/laravel_error.log;
    access_log /var/log/nginx/laravel_access.log;
}

server {
    listen      80;
    server_name next.boilerplate.irabu.dev;
    rewrite     ^   https://$server_name$request_uri? permanent;
}
